* { box-sizing: border-box; }

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

#menuBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  border: 1px solid yellow;
}

#middle {
  position: fixed;
  top: 70px;
  bottom: 45px;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid teal;
  transition: bottom 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-delay: 100ms;
}

#middle.enlarged {
  bottom: 20px;
}

#navigationBar {
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 45px;
  display: flex;
  flex: 1 1 0;
  width: 55px;
  margin: 5px 0 5px 5px;
  border: 1px solid #333;
  border-radius: 18px;
}

#noteContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 0;
  min-height: 0;
  gap: 10px;
  width: calc(100vw - 70px);
  padding: 10px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 18px;
  overflow-y: auto;
  overflow-x: hidden;
}

#tabBar {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 25px;
  gap: 20px;
  border: 1px solid red;
}

#toggleTabBar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 20px;
}

#buttonAddTab {
  width: 70px;
  font-size: 12px;
}

#tabList {
  display: flex;
  margin: 0;
  gap: 5px;
  width: 100%;
}

.tab {
  text-align: left;
  direction: ltr;
  min-width: 10px;
  padding: 3px;
}

.tab.selected {
  background-color: #555;
}

#statusBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: flex-start;
  width: calc(100% - 40px);
  height: 20px;
  align-items: center;
  padding: 2px 0 2px 10px;
  font-size: 11px;
}

.note {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  background: #222;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 18px 4px;
  max-height: calc(100vh - 149px);
  height: calc(100vh - 149px);
  max-width: calc(100vw / 2 - 46px);
  min-width: calc(100vw / 4 - 33px);
  box-shadow: 0 4px 12px rgba(0,0,0,8);
  transition: transform 0.2s, box-shadow 0.2s;
}

.note.category {
  align-items: center;
  max-height: calc(100vh - 149px);
  height: calc(100vh - 149px);
  max-width: calc(100vw / 2 - 46px);
  min-width: calc(100vw / 4 - 33px);
}

.note.editing textarea, .note textarea {
  max-height: 550px;
  width: 100%;
  max-width: 100%;
  color: #f6f6f6;
  background: transparent;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.noteTitle {
  margin: 0 0 18px 0;
}

.note:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,1);
}

.noteContent {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 12px 0;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#noteContentOuter {
  padding: 0 14px;
}

#noteTitleBox {
  justify-items: center;
}

#noteControls {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.subNotes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(361px, 100vw));
  min-height: 50px;
  gap: 16px;
  margin-top: 16px;
  padding: 12px;
  background: #151515;
  border-radius: 8px;
}

.subNotes .note {
  height: unset;
  max-height: 600px;
  min-width: unset;
}

.dragHandle {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  background: black;
}

.dragHandle p {
  margin: 0;
  text-align: center;
  font-size: 10px;
}
