* { box-sizing: border-box; }

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.spacer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.infoText {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
}

#menuBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

#menuBar h2 {
  width: 70px;
  margin-left: 15px;
  text-align: left;
}

#runningTimerContainer, #timesContainer {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 150px;
  max-height: 70px;
  height: 100%;
  width: 100%;
  gap: 10px;
}

#timesContainer {
  padding-right: 4px;
}

#runningTimerContainer button {
  position: fixed;
  right: 129px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20px;
  height: 70px;
  width: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  transition: right 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#runningTimerContainer button.closed {
  right: 0px;
  padding-right: 10px;
}

#runningTimerArrow {
  rotate: -90deg;
  max-width: 20px;
  max-height: 20px;
  height: 100%;
  filter: brightness(1) invert(0.7);
  transition: rotate 0.2s, transform 0.2s;
}

#runningTimerArrow.pointleft {
  rotate: 90deg;
}

#runningTimerArrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#runningDisplayMinutes, #runningDisplaySeconds {
  display: flex;
  flex: 1 1 0;
  max-width: 50px;
  width: 100%;
  max-height: 62px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #222;
  border-radius: 8px;
}

#runningDisplayMinutes p, #runningDisplaySeconds p {
  margin: 0;
  font-size: 24px;
}

#notesMenuBarControls {
  display: flex;
  flex: 1 1 0;
  max-width: 425px;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#notesMenuBarControls button {
  background: #222;
  color: #f6f6f6;
  height: 40px;
  max-width: 100px;
  width: 100%;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}

#notesMenuBarControls button:hover {
  background: #333;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0,0,0,1);
  transform: translateY(-4px);
}

#notesMenuBarControls select {
  background: #222;
  color: #f6f6f6;
  height: 40px;
  max-width: 100px;
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  transition: box-shadow 0.2s;
}

#notesMenuBarControls select:hover {
  background: #333;
  cursor: pointer;
  box-shadow: 0 8px 24px rgba(0,0,0,1);
}

#notesMenuBarControls select option {
  background-color: #222;
}

#searchBarContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  justify-content: left;
  margin-left: 50px;
}

#searchBarBtn, #searchBarCloseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  background: #222;
  border-radius: 20px 0 0 20px;
  border: 1px solid #444;
  border-right: none;
}

#searchIcon {
  width: 25px;
  height: 25px;
  filter: brightness(0) invert(0.7);
}

#searchBarCloseBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #444;
  margin-left: 10px;
  transition: transform 0.2s;
}

#closeIcon {
  height: 18px;
  width: 18px;
  filter: brightness(0) invert(0.7);
}

#searchBarInput {
  background: #222;
  color: #f6f6f6;
  font-size: 18px;
  max-width: 500px;
  width: 100%;
  padding-left: 10px;
  border: 1px solid #444;
  border-radius: 0 20px 20px 0;
  outline: none;
}

#searchBarInput:focus {
  border-color: #723fffd0;
}

#searchBarBtn:hover, #searchBarCloseBtn:hover {
  cursor: pointer;
  background: #333;
}

#searchBarCloseBtn:hover {
  transform: translateY(-4px);
}

#middle {
  position: fixed;
  top: 70px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: bottom 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-delay: 100ms;
}

#middle.enlarged {
  bottom: 20px;
}

#navigationBar {
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 50px;
  display: flex;
  flex: 1 1 0;
  max-width: 55px;
  width: 100%;
  margin: 0 15px;
  padding: 0;
}

#timerViewBtn {
  background: #222;
  max-width: 55px;
  width: 100%;
  max-height: 55px;
  height: 100%;
  border: none;
  color: #f6f6f6;
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  border-radius: 8px;
  padding: 0;
  transition: transform 0.2s, box-shadow 0.2s;
}

#timerViewBtn:hover {
  background: #333;
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.8);
}

#noteContainer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  min-height: 0;
  border: 1px solid #444;
  border-radius: 18px 0 0 0;
  border-bottom: none;
  border-right: none;
}

#innerNoteContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 0;
  min-height: 0;
  gap: 10px;
  width: calc(100vw - 85px);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#tabBar {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 30px;
  gap: 20px;
  border-top: 1px solid #444;
}

#toggleTabBar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 19px;
  background: #222;
  border: 0;
  padding: 0;
  transition: transform 0.2s;
}

#toggleTabBar:hover {
  background: #333;
  cursor: pointer;
}

#buttonAddTab {
  width: 70px;
  font-size: 12px;
  background-color: #222;
  color: #f6f6f6;
  border: none;
  border-radius: 0 6px 6px 0;
  max-height: 24.5px;
  height: 100%;
  align-self: center;
}

#buttonAddTab:hover {
  cursor: pointer;
  background-color: #333;
}

#tabList {
  display: flex;
  margin: 0;
  gap: 5px;
  width: 100%;
  align-items: center;
}

.tab {
  text-align: left;
  direction: ltr;
  min-width: 10px;
  padding: 5px;
  color: #f6f6f6;
  text-align: center;
  background-color: #222;
  border: none;
  border-radius: 6px;
  max-height: 24.5px;
  height: 100%;
  transition: transform 0.2s;
}

.tab:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.tab.selected {
  outline: 1px solid #723fffd0;
}

.tab.editing {
  padding: 0;
}

.tab input {
  max-width: 120px;
  width: 100%;
  background: transparent;
  color: #f6f6f6;
  border: none;
  outline: none;
  padding-left: 5px;
}

#statusBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: flex-start;
  width: 100%;
  height: 20px;
  align-items: center;
  padding: 2px 0 2px 10px;
  font-size: 11px;
  border-top: 1px solid #444;
}

.note {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  background: #222;
  border-radius: 8px;
  padding: 18px 4px;
  max-height: calc((100vh - 151px) / 2);
  height: 100%;
  min-width: calc((100vw - 140px) / 4);
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}

.note.category {
  align-items: center;
  max-height: calc((100vh - 151px) / 2);
  height: 100%;
  min-width: calc((100vw - 140px) / 4);
  width: 100%;
}

.note.editing .tiptap.ProseMirror, .note .tiptap.ProseMirror {
  max-height: 550px;
  width: 100%;
  max-width: 100%;
  color: #f6f6f6;
  background: transparent;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid #888;
  border-radius: 6px;
  outline: none;
  text-align: left;
  padding: 5px;
}

.note.editing .tiptap.ProseMirror:focus, .note .tiptap.ProseMirror:focus {
  border-color: #723fffd0;
}

.note.zoomed {
  max-height: calc((100vh - 151px) / 1.2);
  height: 100%;
}

.noteTitle {
  margin: 0;
  width: fit-content;
  align-self: center;
}

.note:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,1);
}

.noteContent {
  flex: 1 1 auto;
  overflow-y: auto;
  margin: 12px 0;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}

#noteContentOuter {
  padding: 0 14px;
}

#noteTitleBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
}

#noteTitleBox input {
  max-width: 250px;
  width: 100%;
  height: 24px;
  margin-bottom: 10px;
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #f6f6f6;
  background: transparent;
  border: 1px solid #888;
  border-radius: 6px;
}

#noteTitleBox input:focus {
  border-color: #723fffd0;
  outline: none;
}

.noteControls {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  justify-content: center;
  gap: 5px;
  margin: 0 10px 10px;
}

.noteControls button {
  background: #333;
  color: #f6f6f6;
  max-width: 100px;
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}

.noteControls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

.noteControls button:not(:disabled):hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,1);
  cursor: pointer;
  background: #444;
}

.noteControls #noteEditSaveBtn, .noteControls #noteEditCancelBtn {
  height: 28px;
  max-width: 80px;
}

.subNotes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(381px, 100vw));
  min-height: 50px;
  gap: 16px;
  margin-top: 16px;
  padding: 12px;
  background: #151515;
  border-radius: 8px;
}

.subNotes .note {
  height: unset;
  max-height: 600px;
  min-width: unset;
}

#dragZoomContainer {
  display: flex;
  flex-direction: row;
}

.dragHandle {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  margin-bottom: 6px;
  background: transparent;
}

.dragHandle #dragHandle-icon {
  margin: 0;
  width: 20px;
  height: 20px;
  filter: invert(0.7);
}

.zoomBtn {
  display: flex;
  align-content: center;
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  padding: 0;
  margin-left: 14px;
}

.zoomBtn:disabled {
  opacity: 0.5;
}

.zoomBtn #zoom-icon, .zoomBtn #zoom-icon-disabled {
  width: 30px;
  height: 30px;
  filter: invert(0.7);
}

.zoomBtn #zoom-icon-disabled:hover {
  cursor: not-allowed;
}

.zoomBtn #zoom-icon:hover {
  filter: invert(0.9);
  cursor: pointer;
}

.zoomedNoteOverlay {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10000;
  top: 0;
  left: 0;
  bottom: 20px;
  width: 100vw;
  height: 100vh - 20px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}

.zoomedNoteContent {
  position: relative;
  inset: 0;
  width: 50%;
  height: 80%;
  margin: auto;
  overflow: auto;
}

.zoomedNoteContent .warnMessage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-self: center;
  max-height: 24px;
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #723fffd0;
  border-radius: 8px;
}

.zoomedNoteCloseBtn {
  margin: 5px 0 20px;
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 6px;
  background-color: #222;
  color: #f6f6f6;
  transition: transform 0.2s
}

.zoomedNoteCloseBtn:hover {
  cursor: pointer;
  background-color: #333;
  transform: translateY(-3px);
}

#noteIcon, #clockIcon {
  display: flex;
  justify-self: center;
  max-width: 40px;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

#noteIcon {
  filter: saturate(0) contrast(1.2);
}

#clockIcon {
  filter: brightness(0) invert(0.7);
}

.arrowUp-icon, .arrowDown-icon {
  display: flex;
  justify-self: center;
  height: 19px;
  width: 40px;
  filter: brightness(0) invert(0.7);
  transition: transform 0.2s;
}

.arrowUp-icon:hover, .arrowDown-icon:hover {
  transform: scale(1.1) translateY(-1px);
}

#mainViewTimerFinishedContainer {
  position: fixed;
  display: flex;
  right: 5px;
  bottom: 55px;
  z-index: 10000;
  max-width: 400px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  background: #151515;
  border: 1px solid #444;
  border-radius: 8px;
}

#mainViewTimerNotificationContainer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: 10px;
}

#mainViewTimerMessageContainer {
  padding-right: 10px;
}

#mainViewTimerNotificationContainer p {
  flex: 1 1 0;
  overflow-y: auto;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
  margin: 0;
}

#mainViewTimerNotificationContainer button {
  background-color: #222;
  color: #f6f6f6;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  max-width: 50px;
  width: 100%;
  max-height: 26px;
  height: 100%;
  font-size: 14px;
  margin-top: 4px;
  padding: 2px 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.8);
  transition: transform 0.2s, box-shadow 0.2s;
}

#mainViewTimerNotificationContainer button:hover {
  cursor: pointer;
  background: #333;
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,1);
}

#mainViewTimerNotificationContainer button:hover {
  transform: translateY(-2px);
}

.mainViewTimerSpacer {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #444;
}
